.button {
  background-color: var(--button-red-default);
  color: var(--text-contrast);
  width: max-content;
  height: max-content;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  display: inline-block;
  z-index: 2;
}

.button:hover:not(:disabled) {
  background-color: var(--button-red-hover);
}

.button:disabled {
  background-color: var(--button-red-disabled);
  cursor: not-allowed;
}

.buttonText {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.38;
}