.container {
  box-sizing: border-box;
  margin: 0;
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.picture {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.title {
  box-sizing: border-box;
  text-wrap: balance;
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--text-grey-dark);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
}

.link {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  border-radius: 8px;
  color: var(--text-contrast);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  background-color: rgb(138, 44, 226);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.link:hover {
  opacity: 0.6;
}

@container (max-width: 500px) {
  .title {
    font-size: 24px;
  }

  .picture {
    width: 200px;
    height: 200px;
  }
}